<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Voucher</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/voucher">Voucher</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Form tambah voucher</h3>
            </div>
            <form action="/voucher/create" method="POST" enctype="multipart/form-data">
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Nama Game</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Masukkan nama game"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="coinName">Kategori</label>
                  <select
                    class="form-control select2"
                    id="coinName"
                    name="coinName"
                    required
                  >
                    <option value="">Pilih koin</option>
                    <% category.forEach(category => { %>
                    <option value="<%= category._id %>">
                      <%= category.name %>
                    </option>
                    <% }); %>
                  </select>
                </div>

                <div class="form-group">
                  <label for="nominal">Nominal</label>
                  <div class="select2-purple">
                    <select
                      class="form-control select2"
                      multiple="multiple"
                      data-placeholder="Pilih nominal"
                      id="nominal"
                      name="nominal"
                      required
                    >
                      <% nominal.forEach(nominal => { %>
                      <option value="<%= nominal._id %>">
                        <%= nominal.coinName %> <%= nominal.price %>
                      </option>
                      <% }); %>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="image">Gambar</label>
                  <input
                    type="file"
                    class="form-control"
                    id="image"
                    name="image"
                    placeholder="Masukkan nama game"
                    required
                  />
                  <br />
                  <img src="" id="preview" class="img-thumbnail" width="200" />
                </div>
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      const reader = new FileReader();
      reader.onload = function (e) {
        $("#preview").attr("src", e.target.result);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#image").change(function () {
    if ($(this).val() != "") {
      readURL(this);
    }else{
      $("#preview").attr("src", "");
    }
  });
</script>
